@model UserViewModel;
@{
    ViewBag.Title = "User";
}

<link rel="stylesheet" href="~/css/User.css" />
<link rel="stylesheet" href="~/css/Login.css"/>

<div class="userDataContainer">
    <div class="userDataSet">
        <div>Name: @Model.Name</div>
        <div>Surname: @Model.Surname</div>
        <div>Patronimyc: @Model.Patronimyc</div>
    </div>
    <div class="userDataSet">
        <div>Email: @Model.Email</div>
        <div>Address: @Model.Address</div>
    </div>
    <div class="userDataSet">
        <a href="/offers">Offers</a>
        <a href="/tenders">Tenders</a>
    </div>
    <form method="post" class="logoutButtonContainer">
        <button type="submit" class="formLoginButton">
            Log out
        </button>
    </form>
</div>