@model PaginationModelBase

<link rel="stylesheet" href="~/css/Common/Buttons.css" />
<link rel="stylesheet" href="~/css/TenderSearch.css" />

<button class="btnGrey2" type="submit" name="page"
        value="@(Model.CurrentPage - 1)" disabled="@(Model.CurrentPage == 1 ? true : false)">
    Previous page
</button>
<span class="tendersPageSign"> @(Model.CurrentPage)/@(Model.TotalPages) </span>
<button class="btnGrey2" type="submit" name="page"
        value="@(Model.CurrentPage + 1)" disabled="@(Model.CurrentPage == Model.TotalPages ? true : false)">
    Next page
</button>