@using Models.ViewModels.UserTender
@model UserTenderViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Tenders";
}

<link rel="stylesheet" href="~/css/TenderSearch.css" />
<link rel="stylesheet" href="~/css/TenderOffers.css"/>
<link rel="stylesheet" href="~/css/Common/Buttons.css" />
<link rel="stylesheet" href="~/css/Common/Text.css" />
<link rel="stylesheet" href="~/css/SearchBar.css" />
<link rel="stylesheet" href="~/css/Common/Containers.css" />

@if(Model.TotalPages == 0)
{
    <div class="noItems">
        No tenders found
    </div>
}
else
{
    <form asp-controller="UserTender" asp-action="Index" method="get" class="mainSrchCont">
        <div class="centerLblHuge">
            Your Tenders:
        </div>
        @await Html.PartialAsync("~/Views/Shared/SearchBar.cshtml", Model)
        <div class="btnNavCont">
            @await Html.PartialAsync("~/Views/Shared/NavigationButtons.cshtml", Model)
        </div>
    </form>
    <div class="listCont usrTndrsLst">
        @{
            foreach (var m in Model.Tenders)
            {
                <div class="borderCont gap10 stretch">
                    <div class="tenderName itmBrdr">
                        @m.Name
                    </div>
                    <div class="txtGreenCst itmBrdr">
                        Price: @m.Cost
                    </div>
                    <div class="tenderDesc itmBrdr">
                        @m.Description
                    </div>
                    <div class="tenderCreationDate itmBrdr">
                        Created: @m.CreationDate
                    </div>
                    <div class="itmBrdr">
                        State: @m.State.Name
                    </div>
                    <div class="itmBrdr">
                        Executer: @m.Executer?.Surname @m.Executer?.Name @m.Executer?.Patronimyc
                    </div>
                    @{
                        if (m.StateId == 3)
                        {
                            <form method="post" class="offersActions" asp-controller="UserTender" asp-action="TenderInitialAction">
                                <input type="hidden" name="tenderId" value="@m.Id" />
                                <button class="btnGreen" name="action" value="Start">
                                    Start
                                </button>
                                <button class="btnRed" name="action" value="Delete">
                                    Delete
                                </button>
                            </form>
                        }
                        else
                        {
                            <a href="/tenders/offers?id=@m.Id">Show offers</a>
                        }
                    }
                </div>
            }
        }
    </div>
}
@await Html.PartialAsync("~/Views/Shared/NewTenderButton.cshtml", Guid.Empty)