@using Models.ViewModels.UserTender
@model UserTenderViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Tenders";
}

<link rel="stylesheet" href="~/css/TenderSearch.css" />
<link rel="stylesheet" href="~/css/TenderOffers.css"/>
<link rel="stylesheet" href="~/css/Common/Buttons.css" />
<link rel="stylesheet" href="~/css/Common/Text.css" />
<link rel="stylesheet" href="~/css/SearchBar.css" />

<form asp-controller="UserTender" asp-action="Index" method="get" class="tendersSearchMainContainer">
    <div class="tendersSearchMainSign">
        Your Tenders:
    </div>
    @await Html.PartialAsync("~/Views/Shared/SearchBar.cshtml", Model)
    <div class="tendersNavigationContainer">
        @await Html.PartialAsync("~/Views/Shared/NavigationButtons.cshtml", Model)
    </div>
</form>
<div class="tendersListContainer usrTndrsLst">
        @{
            foreach (var m in Model.Tenders)
            {
                <div class="tenderContainer">
                    <div class="tenderName tenderItemBorder">
                        @m.Name
                    </div>
                    <div class="txtGreenCst tenderItemBorder">
                        Price: @m.Cost
                    </div>
                    <div class="tenderDesc tenderItemBorder">
                        @m.Description
                    </div>
                    <div class="tenderCreationDate tenderItemBorder">
                        Created: @m.CreationDate
                    </div>
                    <div class="tenderItemBorder">
                        State: @m.State.Name
                    </div>
                    <div class="tenderItemBorder">
                        Executer: @m.Executer?.Surname @m.Executer?.Name @m.Executer?.Patronimyc
                    </div>
                    @{
                        if (m.StateId == 3)
                        {
                            <form method="post" class="offersActions" asp-controller="UserTender" asp-action="TenderInitialAction">
                                <input type="hidden" name="tenderId" value="@m.Id"/>
                                <button class="btnGreen" name="action" value="Start">
                                    Start
                                </button>
                                <button class="btnRed" name="action" value="Delete">
                                    Delete
                                </button>
                            </form>
                        }
                        else
                        {
                            <a href="/tenders/offers?id=@m.Id">Show offers</a>
                        }
                    }
                </div>
            }
        }
</div> 
@await Html.PartialAsync("~/Views/Shared/NewTenderButton.cshtml", Guid.Empty)