@model UserTenderViewModel;
@{
    ViewBag.Title = "Tenders";
}

<link rel="stylesheet" href="~/css/TenderSearch.css" />

<form method="get" class="tendersSearchMainContainer">
    <div class="tendersSearchMainSign">
        Your Tenders:
    </div>
    <div class="tendersSearchInputContainer">
        <input type="text" name="query" class="tendersSearchInputField" />
        <button type="submit" class="tendersSearchInputBtn">Search</button>
    </div>
    <div class="tendersListContainer">
        @{
            foreach (var m in Model.Tenders)
            {
                <div class="tenderContainer">
                    <div class="tenderName tenderItemBorder">@m.Name</div>
                    <div class="tenderCost tenderItemBorder">Price: @m.Cost</div>
                    <div class="tenderDesc tenderItemBorder">@m.Description</div>
                    <div class="tenderCreationDate tenderItemBorder">Created: @m.CreationDate</div>
                    <a href="/tenders/offers?id=@m.Id">Show offers</a>
                </div>
            }
        }
    </div>
    <div class="tendersNavigationContainer">
        <a class="tendersNavigationBtn"
           href="/tenders?page=@(Model.CurrentPage-1)@(Model.Query is null ? ("") : ("&query=" + Model.Query))">
            Previous page
        </a>
        <span class="tendersPageSign"> @(Model.CurrentPage)/@(Model.TotalPages) </span>
        <a class="tendersNavigationBtn"
           href="/tenders?page=@(Model.CurrentPage+1)@(Model.Query is null ? ("") : ("&query=" + Model.Query))">
            Next page
        </a>
    </div>
</form>