@using Models.ViewModels.UserTender
@model UserTenderOffersViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Offers";
}

<link rel="stylesheet" href="~/css/TenderOffers.css"/>
<link rel="stylesheet" href="~/css/TenderSearch.css" />
<link rel="stylesheet" href="~/css/Common/Buttons.css" />
<link rel="stylesheet" href="~/css/Common/Text.css" />
<link rel="stylesheet" href="~/css/Common/Containers.css"/>

<div class="mainSrchCont">
    <div class="centerLblHuge">
        Tender Offers:
    </div>
    <div class="listCont">
        @{
            foreach(var m in Model.Offers)
            {
                <div class="borderCont gap10 stretch">
                    <div class="gap10">
                        <div class="itmBrdr tenderName">
                            Offerer: 
                            <div>
                                @m.OffererSurname @m.OffererName @m.OffererPatronimyc
                            </div>
                        </div>
                        <div class="itmBrdr txtGreenCst">
                            Price: 
                            <div>
                                @m.Price
                            </div>
                        </div>
                        <div class="itmBrdr tenderDesc offerDesc">
                            Description: 
                            <div>
                                @m.Description
                            </div>
                        </div>
                        <div class="itmBrdr">
                            Creation date:    
                            <div>
                                @m.CreationDate
                            </div>
                        </div>
                    </div>
                    <div class="itmBrdr">
                        State: @m.State
                    </div>
                    <div>
                        @{
                            if (m.StateId == 1)
                            {
                                <form class="btnRghtCont" method="post" asp-controller="UserTender" asp-action="OfferAction">
                                    <input type="hidden" name="tenderId" value="@Model.Id" />
                                    <input type="hidden" name="offerId" value="@m.Id" />
                                    <button type="submit" class="btnGreen" name="action" value="accept">
                                        Accept
                                    </button>
                                    <button type="submit" class="btnRed" name="action" value="refuse">
                                        Refuse
                                    </button>
                                </form>
                            }
                        }
                    </div>
                </div>
            }
        }
    </div>
    <form method="get" class="btnNavCont">
        <input type="hidden" asp-for="Id"/>
        @await Html.PartialAsync("~/Views/Shared/NavigationButtons.cshtml", Model)
    </form>
</div>